
input {
  display: block;
}

fieldset {
  margin-top: 30px;
  width: 95%;
  background-color: white;
  box-shadow: gray 14px 14px 2px;
  margin: 0 auto;
}

select {
  display: block;
}

#contact {
  margin-top: 30px;
  display: inline-block;
  color: black;
}

.postcard {
  float: right;
  text-align: right;
  font-size: 16px;
}