header {
  background-color: grey;
  color: white;
};

.site-title {
  color: red;
}

.site-nav {
  color: red;
}

footer {
  background-color: #000080;
}

body {
  background-color: transparent;
  opacity: 90%;
}