/*
Green: Jade: #2EBF00
          Olive: #3E8F24
          Dark Jade #1E7C00
          Light: #60DF38
          Lightest: #82DF64
          Card: #5F9C4E
Yellow: Mustard: #E19000
        PouPon: #A87B2A
        Brown: #925E00
        Light: #F0B03C
        Lightest: #F0C16C
Purple: Plum: #540A97
        Grape: #4C2272
        Deep: #350362
        Light: #873DCB
        Lightest: #9963CB
*/

//
.site-header {
    border-top: 5px solid #350362;
    border-bottom: 8px solid #60DF38;
    min-height: 46px;
    background-color: #9963CB;
    font-family: cursive;

    // Positioning context for the mobile navigation icon

}

.site-title {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0px;
    margin-bottom: 0;
    float: left;
    display: block;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    display: inline-block;
    float: right;
    line-height: 56px;
    font-size: 16px;
}

  .site-footer {
    border-top: 13px solid #A6A6A6;
    padding: $spacing-unit 0;
    background-color: #5F9C4E;
}
  
  
.page-content {
    background-color: #ECEBE9;
    color: #A87B2A;
    font-family: 'Indie Flower', cursive;
    padding: 20px;
}

input {
  display: block;
}

fieldset {
  margin-top: 30px;
  width: 95%;
  background-color: white;
  box-shadow: gray 14px 14px 2px;
  margin: 0 auto;
}

select {
  display: block;
}

#contact {
  margin-top: 30px;
  display: inline-block;
  color: black;
}

h1, h2, h3, h4, h5, h6{
  color: #F0B03C;
  text-shadow: #E19000 2px 2px 2px;
}


table {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 0 auto;
}

.round td {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  text-align: center;
}

td {
  height: 200px;
  width: 200px;
  background-color: lightgrey;
  border: solid 15px;
  border-color: white;
  color: white;
}

img {
  background-image: url('/images/Mom.png');
  border: solid;
  border-radius: 50px;
  margin: 0 auto;
}

.postcard {
  float: right;
  text-align: right;
  font-size: 16px;
}

#video {
  float: right;
  margin: 0 auto;
  margin: 30px;
}

