/*
Green: Jade: #2EBF00
          Olive: #3E8F24
          Dark Jade #1E7C00
          Light: #60DF38
          Lightest: #82DF64
          Card: #5F9C4E
Yellow: Mustard: #E19000
        PouPon: #A87B2A
        Brown: #925E00
        Light: #F0B03C
        Lightest: #F0C16C
Purple: Plum: #540A97
        Grape: #4C2272
        Deep: #350362
        Light: #873DCB
        Lightest: #9963CB
*/

//
.site-header {
  display: none;

    // Positioning context for the mobile navigation icon

}

.site-title {

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    display: inline-block;
    float: right;
    line-height: 56px;
    font-size: 16px;
}

  .site-footer {
    display: none;
}
  
  
.page-content {
  background-color: #5F9C4E;
  color: #413839;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  
  /*Gradient*/
  background: -webkit-linear-gradient(white, #5F9C4E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #5F9C4E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #5F9C4E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #5F9C4E); /* Standard syntax */
}

input {
  display: block;
}

fieldset {
  margin-top: 30px;
  width: 95%;
  background-color: white;
  box-shadow: gray 14px 14px 2px;
  margin: 0 auto;
}

select {
  display: block;
}

#contact {
  margin-top: 30px;
  display: inline-block;
  color: black;
}

h1, h2, h3, h4, h5, h6{
  color: #E19000;
  text-shadow: #A87B2A 2px 2px 2px;
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center;
}


table {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 0 auto;
}

.round td {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  text-align: center;
}

td {
  height: 200px;
  width: 200px;
  background-color: lightgrey;
  border: solid 15px;
  border-color: white;
  color: white;
}


#card {
  border-radius: 7px;
  height: auto;
  width: 80%;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

#slides {
  display: block;
  margin-top: -183px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 200px;
  width: 100%;
}

.postcard {
  float: right;
  text-align: right;
  font-size: 16px;
}

#video {
  float: right;
  margin: 0 auto;
  margin: 30px;
}

#container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f1f1f1;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid #FFBB33 3px;
  border-radius: 10px;
  box-shadow: #666666 0px 0px 20px 5px;
}

#title {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: bolder;
  display: block;
  text-align: center;
}

#banner {
  width: 200px;
  height: 200px;
  display: inline;
  margin-top: -18px;
  margin-left: -11px;
  position: relative;
  z-index: 10;
}

#address {
  text-shadow: none;
  margin-top: -20px;
}

#mission {
margin: 10px;
}

#clients {
  display: inline-block;
  height: 200px;
  width: auto;
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}

#services {
  display: inline-block;
}